* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  height: 2000px;
  width: 100%;
}

.navbar--container {
  opacity: 1;
  position: fixed;
  background-color: #00247e;
  width: 100vw;
  height: 100px;
  z-index: 3;
  transition: 0.4s;

  &.navbar__hidden {
    opacity: 0;
  }
}

.navbar {
  display: flex;
  position: fixed;
  width: calc(100% - 200px);
  overflow: hidden;
  margin: 21px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  transition: color 0.4s;

  &.on-scroll {
    color: white;
  }

  .navbar--left {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      margin-left: 5px;
    }
  }

  .on-scroll {
    background-color: red;
  }
}

.navbar--links {
  display: flex;
  list-style: none;
  align-items: center;

  .navbar--link__element {
    margin-left: 21px;
    font-size: 1.2rem;
  }
}

.CTA {
  border: none;
  color: white;
  background-color: #0c5adb;
  padding: 16px 16px;
  border-radius: 5px;
  transition: 0.4s;

  &:hover {
    background-color: #00247e;
    cursor: pointer;
  }
}

.header--container {
  width: 100%;
  //position: relative;
  overflow: auto;
  .laptop--woman {
    width: 80%;
    position: absolute;
    right: 0;
    background-position: right top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
    z-index: -1;
    opacity: 0.7;
    transform: scaleX(-1);
  }

  .header--gradient {
    width: 80%;
    height: 720px;
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
    transform: scaleX(-1);
    position: absolute;
    right: 0;
    z-index: 1;
    background: linear-gradient(
      to right bottom,
      rgba(255, 0, 0, 0.616),
      rgba(0, 0, 255, 0.418)
    );
  }

  .header--content {
    position: absolute;
    top: 220px;
    left: 124px;

    width: 50%;
    z-index: 2;

    .header--title {
      font-size: 65px;
    }

    p {
      margin: 20px 0;
      font-size: 18px;
      width: 90%;
    }

    .header--btn__groupe {
      padding-top: 10px;
      .CTA {
        font-size: 1rem;
        padding: 18px 45px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .services--container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    padding: 0 90px;
    z-index: 2;
    .service--wrapper {
      width: 260px;
      height: 280px;
      background-color: white;
      border-radius: 0 50px 50px 50px;
      box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 300ms;

      .service--icon__wrapper {
        width: 70px;
        height: 70px;
        background-color: #eff2f7;
        border-radius: 0 50px 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        transition: 300ms;

        i {
          color: #0c5adb;
          font-size: 25px;
        }
      }

      .service--description {
        text-align: center;

        h2 {
          margin-bottom: 20px;
        }

        span {
          line-height: 1.6;
        }
      }

      &:hover {
        transform: translateY(-10px);
        background-color: #0c5adb;
        color: white;
        box-shadow: 0;

        .service--icon__wrapper {
          background-color: white;
        }
      }
    }
  }
}
