* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
  height: 100%;
  width: 100%;
}

.navbar--container {
  opacity: 1;
  position: fixed;
  background-color: #00247e;
  width: 100%;
  height: 87px;
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar--container.navbar__hidden {
  opacity: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 50%;
  margin-right: -550px;
  width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  z-index: 4;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.navbar.on-scroll {
  color: white;
}

.navbar .navbar--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar--left h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 5px;
}

.navbar .on-scroll {
  background-color: red;
}

.navbar--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--links .navbar--link__element {
  margin-left: 21px;
  font-size: 1.2rem;
}

.CTA {
  border: none;
  color: white;
  background-color: #0c5adb;
  padding: 20px 30px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.CTA:hover {
  background-color: #00247e;
  cursor: pointer;
}

.header--container {
  position: relative;
  width: 100%;
  height: 800px;
  padding: 0 400px;
}

.header--container .laptop--woman {
  height: 800px;
  position: absolute;
  right: 0;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header--container .header--content__wrapper {
  position: absolute;
  top: 220px;
  right: 50%;
  width: 1100px;
  margin-right: -550px;
  z-index: 2;
}

.header--container .header--content__wrapper .header--content {
  width: 60%;
}

.header--container .header--content__wrapper .header--content .header--title {
  font-size: 65px;
  font-weight: 900;
}

.header--container .header--content__wrapper .header--content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe {
  padding-top: 10px;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe .CTA {
  font-size: 1rem;
  padding: 18px 45px;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe .CTA:first-child {
  margin-right: 10px;
}

.features {
  width: 100%;
}

.features .services--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
  margin: auto;
  margin-top: -80px;
}

.features .services--container .service--wrapper {
  width: 260px;
  height: 280px;
  background-color: white;
  border-radius: 0 50px 50px 50px;
  -webkit-box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.features .services--container .service--wrapper .service--icon__wrapper {
  width: 70px;
  height: 70px;
  background-color: #eff2f7;
  border-radius: 0 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.features .services--container .service--wrapper .service--icon__wrapper i {
  color: #0c5adb;
  font-size: 25px;
}

.features .services--container .service--wrapper .service--description {
  text-align: center;
}

.features .services--container .service--wrapper .service--description h2 {
  margin-bottom: 20px;
}

.features .services--container .service--wrapper .service--description span {
  line-height: 1.6;
}

.features .services--container .service--wrapper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #0c5adb;
  color: white;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.features .services--container .service--wrapper:hover .service--icon__wrapper {
  background-color: white;
}

.features .clear {
  height: 110px;
}

.services {
  width: 100%;
  height: auto;
  background: #EFF2F7;
  padding: 100px 0;
}

.services .services--container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.services .services--container .services--container__left {
  width: 58%;
}

.services .services--container .services--container__right {
  position: relative;
}

.services .services--container .services--container__right .rotating-dots {
  position: absolute;
  top: -60px;
  left: -80px;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */