* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
body {
  font-family: "Mulish", sans-serif;
  height: 100%;
  width: 100%;
}

.navbar--container {
  opacity: 1;
  position: fixed;
  background-color: #00247e;
  width: 100%;
  height: 87px;
  z-index: 3;
  transition: 0.4s;

  &.navbar__hidden {
    opacity: 0;
  }
}

.navbar {
  display: flex;
  position: fixed;
  right: 50%;
  margin-right:-550px;
  width: 1100px;
  //overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  z-index: 4;
  transition: color 0.4s;

  &.on-scroll {
    color: white;
  }

  .navbar--left {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      margin-left: 5px;
    }
  }

  .on-scroll {
    background-color: red;
  }
}

.navbar--links {
  display: flex;
  list-style: none;
  align-items: center;

  .navbar--link__element {
    margin-left: 21px;
    font-size: 1.2rem;
  }
}

.CTA {
  border: none;
  color: white;
  background-color: #0c5adb;
  padding: 20px 30px;
  border-radius: 5px;
  transition: 0.4s;

  &:hover {
    background-color: #00247e;
    cursor: pointer;
  }
}

.header--container {
  position: relative;
  width: 100%;
  height: 800px;
  //position: relative;
  padding: 0 400px;
  .laptop--woman {
    //width: 100%;
    height: 800px;
    position: absolute;
    right: 0;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .header--content__wrapper{
    position: absolute;
    top: 220px;
    right: 50%;

    width: 1100px;
    margin-right: -550px;
    z-index: 2;
    .header--content {
    width: 60%;

    .header--title {
      font-size: 65px;
      font-weight: 900;
    }

    p {
      margin: 20px 0;
      font-size: 18px;
      line-height: 1.5;
      width: 90%;
    }

    .header--btn__groupe {
      padding-top: 10px;
      .CTA {
        font-size: 1rem;
        padding: 18px 45px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  }
}

.features{
  width: 100%;
  //height: 305px;
  .services--container {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
    margin-top: -80px;
    .service--wrapper {
      width: 260px;
      height: 280px;
      background-color: white;
      border-radius: 0 50px 50px 50px;
      box-shadow: 4px 4px 30px -1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 300ms;

      .service--icon__wrapper {
        width: 70px;
        height: 70px;
        background-color: #eff2f7;
        border-radius: 0 50px 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        transition: 300ms;

        i {
          color: #0c5adb;
          font-size: 25px;
        }
      }

      .service--description {
        text-align: center;

        h2 {
          margin-bottom: 20px;
        }

        span {
          line-height: 1.6;
        }
      }

      &:hover {
        transform: translateY(-10px);
        background-color: #0c5adb;
        color: white;
        box-shadow: 0;

        .service--icon__wrapper {
          background-color: white;
        }
      }
    }
  }
  .clear{
    height: 110px;
  }
}

.services{
  width: 100%;
  height: auto;
  background: #EFF2F7;
  padding: 100px 0;
  
  .services--container{
    max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;


  .services--container__left{
    width: 58%;
  }

  .services--container__right{
    position: relative;


    .fixed--image{
      //position: absolute;
    }

    .rotating-dots{
      position: absolute;
      top: -60px;
      left: -80px;
      animation: rotating 2s linear infinite;
    }
  }
  
  }
}




@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}