* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
  height: 100%;
  width: 100%;
}

.navbar--container {
  opacity: 1;
  position: fixed;
  background-color: #00247e;
  width: 100%;
  height: 87px;
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar--container.navbar__hidden {
  opacity: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 50%;
  margin-right: -550px;
  width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  z-index: 4;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.navbar.on-scroll {
  color: white;
}

.navbar .navbar--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar--left h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 5px;
}

.navbar .on-scroll {
  background-color: red;
}

.navbar--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--links .navbar--link__element {
  margin-left: 21px;
  font-size: 1.2rem;
}

.CTA {
  border: none;
  color: white;
  background-color: #0c5adb;
  padding: 20px 30px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.CTA:hover {
  background-color: #00247e;
  cursor: pointer;
}

.header--container {
  position: relative;
  width: 100%;
  height: 800px;
  padding: 0 400px;
  overflow: hidden;
}

.header--container .laptop--woman {
  width: 100%;
  position: absolute;
  right: 0;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  z-index: -1;
}

.header--container .header--content__wrapper {
  position: absolute;
  top: 220px;
  right: 50%;
  width: 1100px;
  margin-right: -550px;
  z-index: 2;
}

.header--container .header--content__wrapper .header--content {
  width: 60%;
}

.header--container .header--content__wrapper .header--content .header--title {
  font-size: 65px;
  font-weight: 900;
}

.header--container .header--content__wrapper .header--content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  width: 90%;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe {
  padding-top: 10px;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe .CTA {
  font-size: 1rem;
  padding: 18px 45px;
}

.header--container .header--content__wrapper .header--content .header--btn__groupe .CTA:first-child {
  margin-right: 10px;
}

.features {
  width: 100%;
  z-index: 1;
  position: relative;
}

.features .services--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
  margin: auto;
  margin-top: -80px;
}

.features .services--container .service--wrapper {
  width: 260px;
  height: 280px;
  background-color: white;
  border-radius: 0 50px 50px 50px;
  -webkit-box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
          box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.features .services--container .service--wrapper .service--icon__wrapper {
  width: 70px;
  height: 70px;
  background-color: #eff2f7;
  border-radius: 0 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.features .services--container .service--wrapper .service--icon__wrapper i {
  color: #0c5adb;
  font-size: 25px;
}

.features .services--container .service--wrapper .service--description {
  text-align: center;
}

.features .services--container .service--wrapper .service--description h2 {
  margin-bottom: 20px;
}

.features .services--container .service--wrapper .service--description span {
  line-height: 1.6;
}

.features .services--container .service--wrapper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #0c5adb;
  background-image: url(what-we-are-dot.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.features .services--container .service--wrapper:hover .service--icon__wrapper {
  background-color: white;
}

.features .clear {
  height: 110px;
}

.services {
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.services .services--container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services--container .services--container__left {
  width: 58%;
}

.services .services--container .services--container__left h2 {
  font-size: 42px;
  font-weight: 700;
}

.services .services--container .services--container__left p {
  color: #616161;
  font-size: 19px;
  line-height: 1.5;
}

.services .services--container .services--container__left .services--content__container {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services--container .services--container__left .services--content__container .services__content:first-child {
  margin-right: 30px;
}

.services .services--container .services--container__left .services--content__container .services__content .service {
  position: relative;
  width: 300px;
  height: 57px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 30px 30px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 29.7px 0.3px rgba(221, 221, 221, 0.651);
          box-shadow: 0 10px 29.7px 0.3px rgba(221, 221, 221, 0.651);
  margin-bottom: 20px;
}

.services .services--container .services--container__left .services--content__container .services__content .service:hover {
  background-color: #0c5adb;
  color: white;
}

.services .services--container .services--container__left .services--content__container .services__content .service .service--icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #0c5adb;
  color: white;
  width: 56px;
  height: 56px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 30px 30px;
  font-size: 18px;
}

.services .services--container .services--container__left .services--content__container .services__content .service .service--title {
  font-size: 18px;
}

.services .services--container .services--container__right {
  position: relative;
}

.services .services--container .services--container__right .rotating-dots {
  position: absolute;
  top: -60px;
  left: -80px;
  -webkit-animation: rotating 20s linear infinite;
          animation: rotating 20s linear infinite;
}

.stats {
  padding: 80px 0;
  background: transparent url("service-bg.jpg") center center/cover no-repeat fixed;
}

.stats .stats--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: auto;
  padding: 0 40px;
}

.stats .stats--container .stat {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 25%;
  border-right: white 1px solid;
}

.stats .stats--container .stat:last-child {
  border-right: none;
}

.stats .stats--container .stat h1 {
  font-size: 40px;
  font-weight: 700;
}

.slider {
  width: 80px;
  height: 5px;
  background-color: #aec6ef;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
}

.slider .slider--ball {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #0c5adb;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: crawl 3s linear infinite;
          animation: crawl 3s linear infinite;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  position: relative;
}

.team .hovering-ring {
  width: 270px;
  height: 270px;
  border-radius: 135px;
  background: #132dbc;
  background: -webkit-gradient(linear, left top, right top, from(#132dbc), to(#2d75f1));
  background: linear-gradient(90deg, #132dbc 0%, #2d75f1 100%);
  position: absolute;
  top: 3px;
  right: 50px;
  -webkit-animation: hover ease-in-out 0s infinite;
          animation: hover ease-in-out 0s infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.team .hovering-ring::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 155px;
  height: 155px;
  border-radius: 80px;
  content: "";
  background-color: white;
}

.team .team--container {
  margin: auto;
}

.team .team--container .team--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .team--container .team--description h5 {
  text-transform: uppercase;
  color: #0c5adb;
  margin: 0 0 25px;
  font-size: 16px;
  letter-spacing: 5px;
}

.team .team--container .team--description h2 {
  font-size: 42px;
}

.team .team--container .team--photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .team--container .team--photos .team--photo__container {
  position: relative;
  width: 260px;
  height: 260px;
  background-color: rgba(255, 0, 0, 0.342);
  border-radius: 130px;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .team--container .team--photos .team--photo__container::after {
  position: absolute;
  content: "";
  width: 260px;
  height: 260px;
  background-color: #0c5adb;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .team--container .team--photos .team--photo__container:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.team .team--container .team--photos .team--photo__container:hover::after {
  opacity: 0.8;
}

.team .team--container .team--photos .team--photo__container:hover .member--description {
  bottom: 50%;
  opacity: 1;
}

.team .team--container .team--photos .team--photo__container img {
  max-width: 100%;
  position: absolute;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team .team--container .team--photos .team--photo__container .member--description {
  position: absolute;
  color: white;
  z-index: 3;
  bottom: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.team .team--container .team--photos .team--photo__container .member--description h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.team .team--container .team--photos .team--photo__container .member--description h3 {
  font-size: 15px;
  font-weight: lighter;
}

.contact {
  width: 100%;
  padding: 80px 0;
  background: #0c5adb url("call-bg.png") top right/cover no-repeat scroll;
}

.contact .contact--container {
  margin: auto;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contact .contact--container h2 {
  font-weight: lighter;
}

.contact .contact--container h1 {
  margin: 20px 0;
  width: 47%;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}

.contact .contact--container a {
  margin-top: 20px;
  color: #0c5adb;
  text-decoration: none;
  width: 214px;
  height: 52px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact .contact--container a i {
  margin-left: 10px;
}

.contact .contact--container a:hover {
  background-color: #00247e;
  color: white;
}

.footer {
  width: 100%;
  padding: 0 40px 0 0;
  background: #111a3a url("call-bg.png") center/cover no-repeat scroll;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
}

.footer .footer--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: auto;
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}

.footer .footer--top .footer--description {
  width: calc(100% / 3);
  padding-right: 20px;
}

.footer .footer--top .footer--description .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer .footer--top .footer--description .logo img {
  margin-right: 10px;
}

.footer .footer--top .footer--services {
  width: calc(100% / 3);
}

.footer .footer--top .footer--services h1 {
  margin-bottom: 20px;
}

.footer .footer--top .footer--services ul {
  list-style: none;
}

.footer .footer--top .footer--adress {
  width: calc(100% / 3);
}

.footer .footer--top .footer--adress h1 {
  margin-bottom: 20px;
}

.footer .footer--top .footer--adress .adress,
.footer .footer--top .footer--adress .phone {
  margin: 10px 0;
}

.footer .footer--top .footer--adress span {
  color: white;
  font-weight: bold;
}

.footer .footer--bottom {
  width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.footer .footer--bottom .TOS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer .footer--bottom .TOS li {
  margin-right: 20px;
}

.footer .footer--bottom .TOS li:last-child {
  margin-right: 0;
}

.bg-grey {
  background: #eff2f7;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes crawl {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes crawl {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes hover {
  0% {
    top: 3px;
  }
  50% {
    top: 21px;
  }
  100% {
    top: 3px;
  }
}

@keyframes hover {
  0% {
    top: 3px;
  }
  50% {
    top: 21px;
  }
  100% {
    top: 3px;
  }
}
/*# sourceMappingURL=style.css.map */